<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Dynamic" publicKeyToken="b72be0322d1b32a8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.14.15853" newVersion="1.1.14.15853" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Swaksoft.Core" publicKeyToken="f8a6cbf6057bc61f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>