<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.1" targetFramework="net461" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Swaksoft.Core" version="2.0.0" targetFramework="net461" />
  <package id="Swaksoft.Domain.Seedwork" version="2.0.0" targetFramework="net461" />
  <package id="Swaksoft.Infrastructure.Crosscutting" version="2.0.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Library" version="1.1.14" targetFramework="net461" />
</packages>