<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net461" />
  <package id="Swaksoft.Core" version="2.0.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Library" version="1.1.13" targetFramework="net461" />
</packages>